.list {
	p > a {
		@apply text-footer;
	}
}
.titleList {
	&::after {
		content: "";
		position: absolute;
		border: none;
		border-top: 1px solid #999;
		bottom: 0;
		width: 40px;
		height: 1px;
		left: 0;
	}
}
.counter {
	background-image: url("../../../public/bg-counter.jpg");
	height: 170px;
}

.header {
	line-height: 64px;
}
