.search {
	background-image: url("../../../public/bg-home.png");
	height: 400px;
	@apply flex flex-col justify-evenly;
}
.searchForm {
	:global {
		.ant-select-selector {
			border-radius: 999px !important;
			padding: 0 24px !important;
			font-size: 16px !important;
		}
	}
}
.searchInput {
	> div {
		@apply rounded-full;
	}
}
