.search {
	background-image: url("../../../public/bg-home.png");
	height: 400px;
	@apply flex flex-col justify-evenly;
}
.searchForm {
	:global {
		.MuiOutlinedInput-root {
			border-radius: 999px !important;
		}
	}
}
.searchInput {
	> div {
		@apply rounded-full;
	}
}
